/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header{
    width: 100%;
    height: 60px;
    color: white;
    background-color: #00CC99;
    position: fixed;
    top: 0;
    z-index: 10;
}
header a {
    color: inherit;
    text-decoration: none;
}
#A {
    padding-top: 60px;
    margin-top: -60px;
}
#B {
    padding-top: 60px;
    margin-top: -60px;
}
#C {
    padding-top: 60px;
    margin-top: -60px;
}
#D {
    padding-top: 60px;
    margin-top: -60px;
}
.header_logo{
    float: left;
    margin: 10px 0px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 30px;
}
.header_list li{
    list-style: none;
    float: left;
    margin: 10px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
}
.black_back{
    width: 100%;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 60px;
    margin-bottom: 100px;
}
.black_back img{
    width: 100%;
    display: block;
    opacity: 0.7;
}
.name{
    display: block;
    color: white;
    font-size: 50px;
    font-family: 'Caveat', cursive;
    position: absolute;
    top: 20%;
    left: 10%;
}
.sub{
    display: block;
    color: white;
    font-size: 40px;
    font-family: 'Caveat', cursive;
    position: absolute;
    top: 50%;
    left: 10.2%;
}
#block {
    width: 100%;
    height: 600px;
    margin-top: 10px;
    background-color: black;
    position: relative;
    display: inline-block;
}
.back_img {
    height: 600px;
}
#block .back_img img{
    width: 100%;
    display: block;
    opacity: 0.8;
}
#block p{
    position: absolute;
    color: #333333;
    font-family: Times;
    z-index: 1;
    opacity: 10;
}
.big_title {
    font-size: 100px;
    top: 80px;
    left: 200px;
}
.small_title {
    font-size: 70px;
    top: 105px;
    left: 268px;
}
.B_block .small_title{
    left: 265px;
}
.C_block .small_title {
    left: 264px;
}
.D_block .small_title {
    left: 270px;
}
.sentence {
    font-size: 25px;
    top: 220px;
    left: 200px;
}
.works {
    top: 180px;
    left: 180px;
    width: 80%;
    height: 400px;
    position: absolute;
}
.work {
    top: 20px;
    left: 30px;
    width: 350px;
    height: 348px;
    background-color: white;
    border: 1px solid gray;
    position: relative;
}
.work img {
    position: absolute;
}
.work .work_link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.C_block .contact_method {
    font-size: 45px;
    top: 230px;
    left: 500px;
}
.diaries {
    top: 180px;
    left: 180px;
    width: 80%;
    height: 400px;
    position: absolute;
}
.diary {
    top: 20px;
    left: 30px;
    width: 350px;
    height: 348px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    position: absolute;
}
.diary a {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
}
.diary .image {
    width: 350px;
    height: 300px;
    position: absolute;
}
.diary p {
    top: 120px;
    left: 80px;
    font-size: 50px;
}
.diary .title {
    top: 270px;
    width: 350px;
    height: 80px;
    position: absolute;
    border-top: 1px solid gray;
}
.diary .title p{
    top: 10px;
}
footer {
    background-color: gray;
    width: 100%;
    height: 100px;
}
footer .contents {
    width: 100%;
    height: 75px;
}
footer .Contact{
    float: left;
    font-family: Impact;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 20px;
}
footer .contact_method{
    float: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
}
footer .copyright {
    width: 100%;
    border-top: 1px solid black;
    padding-top: 3px;
    text-align: center;
}